@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.footer-wrapper{
    background-color: #000000;
    padding-top: 5rem;
}
.footer-wrapper h2{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #FF3636;
}
.footer-wrapper p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
.policies {
    text-align: left;
}
.start-planning{
    text-align: left;
}
.our-policies{
    text-align: left;
}

@media only screen and (min-width: 1200px){
    .start-planning {
     
        padding-left: 5rem;
    }
    .our-policies{
        padding-left: 5rem;
    }
    /* .footer-wrapper p{
  
        font-size: 26px;
      
    } */
}