@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.interest-wrapper {
    background-image: url('../Assets/Footer-pic-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* height: 150vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;

}

.interest-place {
    text-align: right;

}

.intersting {
    color: #FF3636;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 0rem;
}

.found {
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 0rem;
    color: #000000;
}

.contacting {
    padding: 15px 30px 15px 30px;
    border: 1px solid #999999;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    transition: transform 0.3s ease;
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.41);
}

.contacting:hover {
    color: #FF3636;
    border-color: #FF3636;
    transform: scale(1.1);
}

.objective {
    font-family: 'Montserrat', sans-serif;
}

/* .recieve {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

} */

.recieve p {
    margin-bottom: 0rem;
}



.first-lastNames input::placeholder {
    color: var(--placeholder-color) !important;
}

.emai-Names input::placeholder {
    color: var(--placeholder-color) !important;
}


/* .transparent-input {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #ced4da; 
  } */
/* .transparent-input {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #ced4da;
    color: white !important;
   
} */
.transparent-input {
    background-color: transparent !important;
    border: none;
    border-bottom: 2px solid white; /* Increase the width for a bold look */
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0; /* Set border radius to 0 to remove curves */
    /* Set the text color to white */
}

/* Adjust the placeholder color for better visibility */
.first-lastNames input::placeholder,
.emai-Names input::placeholder {
    color: white !important;
}


.recieve p {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.inbox-title {
    color: #FFFFFF;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}

.submit-interest button {
    padding: 15px 30px 15px 30px;
    border: 1px solid #999999;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease;
    color: #000000;
}

.submit-interest button:hover {
    color: #FF3636;
    border-color: #FF3636;
    transform: scale(1.1);
}

.get-inspiration {
    background-image: linear-gradient(180deg, #00000045 0%, #000000 39%);
    /* height: 100%; */
    padding-top: 5rem;
    padding-bottom: 14rem;
}

.ellips_image {
    position: absolute;
    left: 0;
}


@media only screen and (max-width: 600px) {
    .get-inspiration {
        background-image: linear-gradient(180deg, #00000045 0%, #000000 10%);
    }
    .found{
        line-height: 40px;
    }
    .objective{
        padding: 30px 0px;
       
    }
    .interest-wrapper {
        /* height: 100%; */
        margin-top: 5rem;
        background-size: contain;
    }

    .submit-interest {
        margin: 20px 0px;
    }

    .recieve {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .ellips_image {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .found{
        line-height: 40px;
    }
    .objective{
        padding: 30px 0px;
       
    }
    .interest-wrapper {
        margin-top: 5rem;
    }

    .submit-interest {
        margin: 20px 0px;
    }

    .recieve {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .ellips_image {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .first-lastNames {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
    }

    .email-confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 23px;
        width: 112%;
        padding-top: 2rem;
    }

    .recieve p {
        white-space: nowrap;
    }

    .intersting {
        font-size: 100px;
        line-height: 100px;
    }

    .found {
        font-size: 100px;
        line-height: 100px;
    }

    .interstSection {
        position: relative;
        bottom: 6rem;
    }

    .interest-wrapper {
        margin-top: 10rem;
    }

    .ellips_image {
        display: block;
        padding-top: 56px;
    }
    .inbox-title {
        
        font-size: 60px;
        white-space: nowrap; 
       
    }

}

@media only screen and (min-width: 1400px) {
    .email-confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 103%;
    }
    .interest-wrapper {
        margin-top: 15rem;
    }

    .interstSection {
        position: relative;
        bottom: 11rem;
    }

    .ellips_image {
        padding-top: 33px;
    }
}