.operate_wrapper{
    background-image: url('../Assets/Rectangle-170.png');
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.peru{
   background-image:linear-gradient(rgba(0,0,0,0.18),rgba(0,0,6,1.18)), url('../Assets/operateFirstImg.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   /* height: 100%; */
   position: relative;
   border-radius: 8px;
}
.ecuador{
    background-image: linear-gradient(rgba(0,0,0,0.18),rgba(0,0,6,1.18)), url('../Assets/OperateSecondImg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* height: 100%; */
    position: relative;
    border-radius: 8px;
}
.peru-name h3{
    color: white;
}
.peru-name{
    position: absolute;
    bottom: 0;
    width: 30%;
}
.ecuador-name{
    position: absolute;
    bottom: 0;
    width: 49%;
}
.ecuador-name h3{
    color: white;
}
.operate-contents{
    text-align: left;
}
.operate-contents p{
    color: white;
}
.operate-firstHeading{
    font-size: 50px;
    color: white;
}
.operate-secondHeading{
    font-size: 50px;
    color: red;
}

@media only screen and (max-width: 600px){
    .operate_wrapper{
        margin-top: 5rem;
    }
    .peru{
        height: 22rem;
    }
}
@media only screen and (min-width: 600px){
    .operate_wrapper{
        margin-top: 5rem;
    }
    .peru{
        height: 22rem;
    }
    .ecuador{
        height: 22rem;
    }
}